@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";
@import "../../../styles/common/constants";

.education {
  @extend .card;
  @include flex(flex-start, flex-end, column);
}

.education__icon {
  @extend .card__icon;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  width: 115px;
  height: 115px;
}

.education__info {
  @extend .card__info;
  text-align: left;
  margin-top: 50px;
}

.education__dates {
  @extend .card__dates;
  position: absolute;
  right: -95px;
  top: 75px;
  transform: rotate(-90deg);
  width: 220px;
}

/* -- Breakpoints -- */
@media (min-width: $vw-xxs) {
  .education__icon {
    transform: unset;
    left: -10px;
    top: -25px;
    width: 150px;
    height: 150px;
  }
  .education__info {
    margin: 100px 0 0;
  }
  .education__dates {
    right: 20px;
    top: 20px;
    transform: unset;
  }
}

@media (min-width: $vw-small) {
  .education__info {
    margin-top: 0;
    margin-left: 130px;
  }
}

@media (min-width: $vw-medium) {
  .education__info {
    margin-top: 0;
    margin-left: 175px;
  }
  .education__icon {
    width: 200px;
    height: 200px;
    top: -45px;
  }
}

@media (min-width: $vw-large) {
  .education__info {
    margin-top: 0;
    margin-left: 170px;
  }
  .education__icon {
    width: 225px;
    height: 225px;
    top: -25px;
    left: -50px;
  }
}
