@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";
@import "../../../styles/common/constants";

.prof-experience {
  @extend .card;
  @include flex(flex-start, flex-end, column);
}

.prof-experience__icon {
  @extend .card__icon;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  width: 115px;
  height: 115px;
}

.prof-experience__info {
  @extend .card__info;
  text-align: left;
  margin: 60px 0;
}

.prof-experience__dates {
  @extend .card__dates;
  position: absolute;
  left: 40px;
  bottom: 6%;
}

/* -- Breakpoints -- */
@media (min-width: $vw-xxs) {
  .prof-experience__icon {
    left: unset;
    transform: unset;
    right: -10px;
    top: -25px;
    width: 150px;
    height: 150px;
  }

  .prof-experience__info {
    margin: 0 0 50px;

    .name { max-width: 50%; }

    .description, .technologies {
      max-width: 75%;
    }
  }
  .education__dates {
    right: 20px;
    top: 20px;
    transform: unset;
  }
}

@media (min-width: $vw-medium) {
  .prof-experience__icon {
    width: 200px;
    height: 200px;
    right: -30px;
    top: -45px;
  }
}

@media (min-width: $vw-large) {
  .prof-experience__icon {
    width: 225px;
    height: 225px;
  }
}
