@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";
@import "../../../styles/common/constants";

$cardPadding: 30px;
$iconSize: 95px;

.experience-card {
  @extend .card;
  @include flex(flex-start, flex-end, column);
  max-width: 100%;
  overflow: hidden;

  &__header {
    transition: all 0s ease !important;
    position: relative;
    height: 40px;
    width: 100%;
    z-index: 2;

    &--icon {
      position: absolute;
      right: -55px;
      transform: translateX(-50%);
      top: 5px;
      width: $iconSize;
      height: $iconSize;

      img, svg {
        width: 70%;
        height: 70%;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: $cardPadding;
    position: relative;
    max-width: 100%;

    .location {
      padding-top: 0.5rem;
    }

    .description,
    .grades {
      padding-top: 1rem;
    }

    .technologies {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      margin-top: 10px;

      .technology {
        @include flex(center, center, column);
        background-color: $c-card-icon-bg-dark;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
}

/* -- Themes -- */
/* Light */
#light .experience-card {
  &__info {
    .technologies {
      .technology {
        background-color: $c-secondary-light;
      }
    }

  }
}

/* -- Breakpoints -- */
@media (min-width: $vw-small) {
  .experience-card {
    &__header {
      position: absolute;
      height: 100%;
      width: 100px;

      &--icon {
        position: absolute;

        left: 60px;
        top: 20px;
        img, svg {
          width: 78%;
          height: 78%;
        }
      }
    }

    &__info {
      padding: $cardPadding $cardPadding $cardPadding 125px;
      max-width: 80%;
    }
  }
}
