@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";
@import "../../../styles/common/constants";

$cardPadding: 30px;
$iconSize: 95px;

.experience-card {
  @extend .card;
  @include flex(flex-start, flex-end, column);
  max-width: 100%;
  overflow: hidden;

  &__header {
    transition: all 0s ease !important;
    position: relative;
    height: 40px;
    width: 100%;
    z-index: 2;

    &--icon {
      position: absolute;
      right: -55px;
      transform: translateX(-50%);
      top: 5px;
      width: $iconSize;
      height: $iconSize;

      img, svg {
        width: 70%;
        height: 70%;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: $cardPadding;
    position: relative;
    max-width: 100%;

    .location {
      padding-top: 0.5rem;
    }

    .dates {
      position: absolute;
      top: -28px;
      z-index: 3;

      p, span {
        color: white;
      }
    }

    .description,
    .grades {
      padding-top: 1rem;
      @extend .card__info;
    }

    .skills {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.7rem;
    }
  }
}

#dark .experience-card {
  &__info {
    .skills {
      .skill-card {
        background-color: rgba(62, 64, 72, 0.5);
      }
    }
  }
}

#dark .experience-card,
#light .experience-card {
  &__info {
    .dates {
      p, span {
        color: $c-primary-light;
      }
    }
  }
}

/* -- Breakpoints -- */
@media (min-width: $vw-small) {
  #dark .experience-card {
    &__info {
      .dates {
        p, span {
          color: $c-primary-light;
        }
      }
    }
  }

  #light .experience-card {
    &__info {
      .dates {
        p, span {
          color: $c-primary-dark;
        }
      }
    }
  }

  .experience-card {
    &__header {
      position: absolute;
      height: 100%;
      width: 100px;

      &--icon {
        position: absolute;
        left: 60px;
        top: 20px;

        img, svg {
          width: 78%;
          height: 78%;
        }
      }
    }

    &__info {
      padding: $cardPadding $cardPadding $cardPadding 125px;
      max-width: 90%;

      .dates {
        position: initial;
        z-index: 0;
      }
    }
  }
}
