@import 'variables';
@import "../common/mixins";

.highlighted {
    background-image: $c-highlighted-text;
    color: transparent !important;
    -webkit-background-clip: text;
    display: inline;
}

span.contrast {
    font-weight: 600;
}

span.low-contrast {
    color: $c-tertiary-dark;
}

.custom-button {
    padding: 15px 35px;
    border-radius: 8px;
    border: 0;
    font-weight: 900;

    &:not(.disabled) {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) ;
    }

    span { color: $c-tertiary-light;  }
    &:hover:not(.disabled) {
        cursor: pointer;
        box-shadow: -5px 8px 50px rgba(0, 0, 0, 0.25) ;
    }

    &:hover.disabled {  cursor: not-allowed; }
}

.section {
    &__two-line-title {
        h2, h1 {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        h1 {
            display: inline;
        }
        h2 {
            position: relative;
            margin-left: 2px;
            top: 12px;
        }
    }
}

.card {
    @include flex(center, flex-end, column);
    background-color: $c-card-bg-light;
    border-radius: $br-card;
    position: relative;
    box-shadow: 0 5px 25px  rgba(0, 0, 0, 0.25) ;

    p, h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.card__icon {
    @include flex(center, center, column);
    background-color: $c-primary-light;
    position: absolute;
    border-radius: 20%;

    img,
    svg {
        @include rotateAnim(1s, -20deg);
    }
}

.card__dates {
    background-color: $c-primary-dark;
    padding: 10px;
    border-radius: 8px;
}

/* -- Themes -- */
/* Light */
#light .custom-button {
    background-color: $c-primary-light;
}

#light .card {
    background-color: $c-bg-primary-light;

    span.contrast {
        color: $c-secondary-dark;
    }

    span.low-contrast {
        color: $c-tertiary-dark;
    }

    &__info {
        p { color: $c-tertiary-dark; }
    }

    &__icon {  background-color: $c-secondary-light; }

    &__dates {
        background-color: $c-card-icon-bg-light;
        p { color: $c-tertiary-dark; }
    }
}

/* Dark */
#dark .custom-button {
    background-color: $c-card-icon-bg-dark;
    &:hover:not(.disabled) {
        background-color: rgb(33, 33, 33);
    }
}

#dark .card {
    background-color: $c-card-bg-dark;

    span.contrast {
        color: $c-primary-light;
    }

    span.low-contrast {
        color: $c-tertiary-light;
    }

    &__info {
        p { color: $c-tertiary-light; }
    }

    &__icon {
        background-color: $c-card-icon-bg-dark;
        &::before { border-top-color: $c-card-icon-bg-dark; }
    }

    &__dates {
        background-color: $c-primary-dark;
        p { color: $c-tertiary-light; }
    }
}

/* -- Breakpoints -- */
@media (min-width: $vw-xxs) {
    .custom-button {
        &:hover:not(.disabled) {
            transform: scale(1.04);
        }
    }
}
