@import "../../styles/common/variables";
@import "../../styles/common/constants";
@import "../../styles/common/mixins";

.experience {
  width: 100%;
  margin-top: 5rem;

  h1 {
    margin-bottom: 1rem;
  }

  &__cards {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }
}
