@import "../../styles/common/variables";
@import "../../styles/common/constants";
@import "../../styles/common/mixins";

.experience {
  &__title {
    @extend .section__two-line-title;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 45px;
    margin-top: 40px;
    margin-bottom: 75px;
  }
}

/* -- Breakpoints -- */
@media (min-width: $vw-xs) {
  .experience {
    &__cards {
      margin-top: 30px;
    }
  }
}
@media (min-width: $vw-medium) {
  .experience {
    &__cards {
      gap: 45px;
    }
  }
}
