@import "../../styles/common/variables";
@import "../../styles/common/constants";

.projects {
  &__title {
    @extend .section__two-line-title;
  }

  &__list {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 3em;
    row-gap: 3em;
  }
}

/* -- Breakpoints -- */
@media (min-width: $vw-small) {
  .projects {
    padding-top: 120px;

    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: $vw-medium) {
  .projects {
    &__description {
      width: 65%;
    }
  }
}

@media (min-width: $vw-xl) {
  .projects {
    &__list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
